*.zip
*.suo
*.xap
*.dll
*.pubxml*
*.htm
*.vs
*.csproj.user
obj/
bin/
AppsBin/
ClientBin/
packages/

# We want to store additional libs
!Libs/**/*.dll
!Web/WebChemistry.Web/Content/MotiveValidator/MotifExtractor.zip
