@{
    ViewBag.Title = "CrocoBLAST";
}

<div class="page-header">
    <img src="~/Images/croco_logo.png" style="float:right" alt="mole-logo" /><h1>CrocoBLAST  <br /><small>Optimized parallel implementation of local sequence alignment algorithms</small></h1>
</div>

<div class="row-fluid">
    <div>
        <p style="text-align:justify">
            Local sequence alignment is a cornerstone of bioinformatics, allowing to compare the amino-acid sequences of different proteins, or the nucleotide sequences of different pieces of DNA.
            The Basic Local Alignment Search Tool (BLAST) has revolutionized the field of bioinformatics, and is currently implemented in all free and commercial bioinformatics packages. However,
            with the advent of Next Generation Sequencing (NGS) and the development of new sequencing techniques, the utility of traditional BLAST implementations is limited. CrocoBLAST combines
            the accuracy and general applicability of BLAST with computational efficiency, accessibility, and user experience, so that NGS data can be analyzed efficiently even when only
            modest computational resources are available.
        </p>
    </div>
</div>

<div class="row-fluid" style="margin-top: 17px">

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="pull-left active"><a href="#latest" data-toggle="tab">Download</a></li>
            <li class="pull-left"><a href="#documentation" data-toggle="tab">Documentation</a> </li>
            <li class="pull-left"><a href="#contact" data-toggle="tab">Contact</a> </li>
            <li class="pull-right"><a href="#history" data-toggle="tab">History</a> </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="latest">
                <div>
                    <a href="//webchem.ncbr.muni.cz/Platform/AppsBin/CrocoBLAST/LATEST/CrocoBLAST_windows.zip" class="btn btn-primary btn-large" data-original-title=""><i class="icon-download icon-white"></i> <strong>Get CrocoBLAST for Windows</strong></a>
                    <a href="//webchem.ncbr.muni.cz/Platform/AppsBin/CrocoBLAST/LATEST/CrocoBLAST_linux.zip" class="btn btn-info btn-large" data-original-title=""><i class="icon-download icon-white"></i> <strong>Linux</strong> 32-bit</a>
                    <a href="//webchem.ncbr.muni.cz/Platform/AppsBin/CrocoBLAST/LATEST/CrocoBLAST_linux_64.zip" class="btn btn-info btn-large" data-original-title=""><i class="icon-download icon-white"></i> <strong>Linux</strong> 64-bit</a>
                    <a href="//webchemwiki.biodata.ceitec.cz/CrocoBLAST:UserManual" class="btn btn-info btn-large" data-original-title="" target="_blank"><i class="icon-question-sign icon-white"></i> <strong>Running on Mac</strong></a>
                </div>
                <div>
                    <p>
                        <br><strong>Current version</strong>: 1.17.11.25 (<a href="//webchemwiki.biodata.ceitec.cz/CrocoBLAST:ReleaseNotes" target="_blank">Release notes</a>).<br>
                        <br>
                        Just download, unzip, and run. No installation required. Download currently includes the command line utility, the graphical user interface, and the user manual. For further instructions, please consult the
                        <a href="//webchemwiki.biodata.ceitec.cz/CrocoBLAST:UserManual" target="_blank">Documentation</a>.
                        <br>
                    </p>
                </div>
                <p>
                    <small>
                        <strong>License conditions</strong> in accordance with § 11 of Act No. 130/2002 Coll. The owner of the software is Masaryk University, a public university, ID: 00216224.
                        Masaryk University allows companies and individuals to use this software free of charge and without territorial restrictions, in a manner that does not depreciate its value.
                        This permission is granted for the duration of property rights. This software is not subject to special information treatment according to Act No. 412/2005 Coll., as amended.
                        If a person who uses the software under this license offer violates the license terms, the permission to use the software is terminated.
                    </small>
                </p>
            </div>
            <div class="tab-pane" id="documentation">
                <div class="row-fluid">
                    <p>Everything you need to know about how to run CrocoBLAST is summarized in our <a href="//webchemwiki.biodata.ceitec.cz/CrocoBLAST:UserManual" target="_blank">Wiki</a> pages</p>
                    <p>The documentation can be downloaded <a href="//webchem.ncbr.muni.cz/Platform/AppsBin/CrocoBLAST/Latest/CrocoBLAST_manual.pdf">here</a> and is also included with the application downloads.</p>
                </div>
                <div class="row-fluid">
                    <h4>References</h4>
                    <div>
                        <ul class="">
                            <li>
                                <strong>CrocoBLAST</strong>:
                                Tristão Ramos RJ, Azevedo-Martins AC, Delgado, GS, Silva R, Ürményi TP, Koča J (2016) An efficient platform for running and managing BLAST. In preparation.
                            </li>
                        </ul>
                    </div>
                </div>
                <br>
            </div>
            <div class="tab-pane" id="contact">
                <div class="row-fluid">
                    <div>
                        <p>
                            CrocoBLAST was initiated at the <a href="//www.biof.ufrj.br/en/">Biophysics Institute</a> of the Federal University of Rio de Janeiro, and grew into a collaborative project involving the <a href="http://www.ncbr.muni.cz/">National Centre for Biomolecular Research (NCBR)</a> and <a href="//www.ceitec.eu/">Central European Institute for Technology (CEITEC)</a>, affiliated with Masaryk University in Brno.
                        </p>
                        <ul class="unstyled">
                            <li>CrocoBLAST is currently maintained at <strong>NCBR</strong> and <strong>CEITEC</strong> by Ravi Ramos. If you have any inquiries or suggestions regarding CrocoBLAST, please send them to 336141<img src="~/Images/at.png">mail.muni.cz</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="history">
                <ul>
                    <li>
                        <b>1.16.11.04</b> (initial release): <a href="//webchem.ncbr.muni.cz/Platform/AppsBin/CrocoBLAST/1.16.11.04/CrocoBLAST_windows.zip">CrocoBLAST for Windows</a>
                        | <a href="//webchem.ncbr.muni.cz/Platform/AppsBin/CrocoBLAST/1.16.11.04/CrocoBLAST_linux.zip">CrocoBLAST for Linux</a>
                    </li>
                    <li>
                        <b>1.17.11.25</b>: <a href="//webchem.ncbr.muni.cz/Platform/AppsBin/CrocoBLAST/1.17.11.25/CrocoBLAST_windows.zip">CrocoBLAST for Windows</a>
                        | <a href="//webchem.ncbr.muni.cz/Platform/AppsBin/CrocoBLAST/1.17.11.25/CrocoBLAST_linux.zip">CrocoBLAST for Linux 32-bit</a>
                        | <a href="//webchem.ncbr.muni.cz/Platform/AppsBin/CrocoBLAST/1.17.11.25/CrocoBLAST_linux_64.zip">CrocoBLAST for Linux 64-bit</a>
                    </li>
                </ul>
                <br>
            </div>
        </div>
    </div>
</div>