@{
    ViewBag.Title = "MOLE 2.5";
}

<div class="page-header">
    <img src="~/Images/molelogo.png" style="float:right" alt="mole-logo" /><h1>MOLE 2.5 <br /><small>A universal toolkit for rapid location and characterization of channels and pores in biomacromolecules.</small></h1>
</div>

<div class="row-fluid">
    <div>
        <p style="text-align:justify">
            Biomacromolecular channels and pores play significant biological roles, e.g.,
            in molecular recognition and enzyme substrate specificity. We present an
            advanced software tool entitled MOLE 2.5, which has been designed to analyze
            molecular channels and pores. Benchmark tests against other available software
            tools showed that MOLE 2.5 is by comparison quicker, more robust and more
            versatile. As a new feature, MOLE 2.5 estimates physicochemical properties of
            the identified channels.
        </p>
    </div>
</div>

<div class="row-fluid">
    <h2>Downloads and Links</h2>
    <h3>MOLE 2.5</h3>

    <div class="tabbable" style="margin-top:-50px">
        <ul class="nav nav-tabs">
            <li class="active pull-right"><a href="#latest" data-toggle="tab">Latest Version</a></li>
            <li class="pull-right"><a href="#history" data-toggle="tab">History</a> </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="latest">
                <div>
                    <a href="//webchem.ncbr.muni.cz/Platform/AppsBin/Mole/2.5.24.6.8/Mole2_ui.zip" class="btn btn-primary btn-large"><i class="icon-download icon-white"></i> <strong>MOLE 2.5</strong><br /> Graphical User Interface <br /><i>Windows <small>[4 MB]</small></i></a>
                    <a href="//webchem.ncbr.muni.cz/Platform/AppsBin/Mole/2.5.24.6.8/Mole2_cmd.zip" class="btn btn-info btn-large"><i class="icon-download icon-white"></i> <strong>MOLE 2.5</strong><br /> Command Line Tool <br /><i>Windows, Linux, and MacOS <small>[7 MB]</small></i></a>
                </div>
                <div>
                    <p>
                        <strong>Current version</strong>: 2.5.24.6.8 (June 8 2024, <a href="//webchemwiki.biodata.ceitec.cz/Mole:News" target="_blank">news</a>).
                        For installation instructions, please consult the <a href="//webchem.ncbr.muni.cz/Platform/AppsBin/Mole/2.5.24.6.8/Mole2_manual.pdf">manual</a>.
                    </p>
                </div>
            </div>
            <div class="tab-pane" id="history">
                <ul>
                    <li>
                        <b>2.5.24.6.8</b>: <a href="//webchem.ncbr.muni.cz/Platform/AppsBin/Mole/2.5.24.6.8/Mole2_ui.zip">User Interface</a>
                        | <a href="//webchem.ncbr.muni.cz/Platform/AppsBin/Mole/2.5.24.6.8/Mole2_cmd.zip">Command Line Tool</a>
                    </li>
                    <li>
                        <b>2.13.9.6</b>: <a href="//webchem.ncbr.muni.cz/Platform/AppsBin/Mole/2.13.9.6/Mole2_ui.zip">User Interface</a>
                        | <a href="//webchem.ncbr.muni.cz/Platform/AppsBin/Mole/2.13.9.6/Mole2_cmd.zip">Command Line Tool</a>
                    </li>
                    <li>
                        <b>2.13.1.8</b> (initial release): <a href="//webchem.ncbr.muni.cz/Platform/AppsBin/Mole/2.13.1.8/Mole2_ui.zip">User Interface</a>
                        | <a href="//webchem.ncbr.muni.cz/Platform/AppsBin/Mole/2.13.1.8/Mole2_cmd.zip">Command Line Tool</a>
                    </li>
                </ul>
                <br />
            </div>
        </div>
    </div>

    <div>
        <a href="http://mole.upol.cz" class="btn btn-warning btn-large" target="_blank"><i class="icon-arrow-right icon-white"></i> <strong>MOLEonline</strong> <small>link</small></a>
    </div>
    <div>
        <p>An online service for channel computation.</p>
    </div>
    <h4>Additional Tools & Products</h4>
    <div>
        <a href="//webchem.ncbr.muni.cz/Platform/AppsBin/Mole/2.5.24.6.8/Mole2_plugin.zip" class="btn btn-success"><i class="icon-download icon-white"></i> <strong>PyMOL and Chimera plug-in 2.5</strong> <small>[4.6 MB]</small></a>
        <a href="https://github.com/sb-ncbr/MOLE" target="_blank"><i class="btn btn-primary fa fa-github" style="font-size:24px"></i></a>
        <p>
            <i>For more information about plug-in usage, please refer to the <a href="//webchemwiki.biodata.ceitec.cz/Mole:Plugins" target="_blank">wiki</a>.</i>
        </p>         
    </div>
    <h4>Licence</h4>
    <p>
        <small>
            Licence conditions in accordance with § 11 of Act No. 130/2002 Coll. The owner of the software is Masaryk University, a public university, ID: 00216224.
            Masaryk University allows other companies and individuals to use this software free of charge and without territorial restrictions in usual way, that does not depreciate its value.
            This permission is granted for the duration of property rights. This software is not subject to special information treatment according to Act No. 412/2005 Coll., as amended.
            In case that a person who will use the software under this licence offer violates the licence terms, the permission to use the software terminates.
        </small>
    </p>
</div>

<div class="row-fluid">
    <h2>Documentation</h2>
    <p>The documentation can be downloaded <a href="@Url.Content("~/AppsBin/Mole2_manual.pdf")">here</a> and is also included with the application downloads.</p>
</div>

<div class="row-fluid">
    <h2>References</h2>
    <div>
        <ul class="">
            <li>
                <strong>MOLE 2.0</strong>:
                Sehnal,D., Vařeková,R.S., Berka,K., Pravda,L., Navrátilová,V., Banáš,P., Ionescu, C.M., Otyepka,M. and Koča,J. (2013) MOLE 2.0:
                <a href="//dx.doi.org/10.1186/1758-2946-5-39" target="_blank">Advanced approach for analysis of biomacromolecular channels.</a> J. Cheminform., 5, 39.
            </li>
            <li>
                <strong>MoleOnline</strong>:
                Lukáš Pravda, David Sehnal, Dominik Toušek, Veronika Navrátilová, Václav Bazgier, Karel Berka, Radka Svobodová Vařeková, Jaroslav Koča, Michal Otyepka. (2018):
                <a href="https://academic.oup.com/nar/article/46/W1/W368/4990029" target="_blank">MOLEonline: a web-based tool for analyzing channels, tunnels and pores (2018 update).</a> Nucleic acids research 46 (W1), W368-W373.
            </li>
            <li>
                <strong>MOLE 1.0</strong>:
                Petřek,M., Kosinová,P., Koča,J., Otyepka M. (2007)
                <a href="//dx.doi.org/10.1016/j.str.2007.10.007" target="_blank"> MOLE: A Voronoi Diagram-Based Explorer of Molecular Channels, Pores, and Tunnels.</a> Structure, 15, 1357-1363.
            </li>
        </ul>
    </div>
</div>

<div class="row-fluid">
    <h2>Authors and Contacts</h2>
    <div>
        <p>
            MOLE 2 was developed in collaboration of the teams at <a href="//www.ncbr.muni.cz/">National Centre for Biomolecular Research</a> at the Masaryk University Brno/<a href="//www.ceitec.eu/">CEITEC</a>,
            and <a href="//fch.upol.cz/">Department of Physical Chemistry</a>/<a href="//www.rcptm.com/">RCPTM</a> at the Palacky University Olomouc.
        </p>
        <ul class="unstyled">
            <li><strong>NCBR</strong>: David Sehnal, Radka Svobodová Vařeková, Crina M. Ionescu, Lukáš Pravda, and Jaroslav Koča</li>
            <li>E-mail: david.sehnal<img src="~/Images/at.png">mail.muni.cz</li>
            <li>&nbsp;</li>
            <li><strong>UPOL</strong>: Karel Berka, Ondřej Hanák, Veronika Navrátilová, Pavel Banáš, and Michal Otyepka</li>
            <li>E-mail: karel.berka<img src="~/Images/at.png">upol.cz</li>
        </ul>
    </div>
</div>

<hr />

<p style="text-align: center">
    <img src="~/Images/elixirlogo.png" alt="ELIXIR logo" style="height: 70px" /><br />
    <small>
        MOLE 2 is a part of services provided by <a href="https://www.elixir-czech.cz/" target="_blank">ELIXIR</a> &ndash;
        European research infrastructure for biological information.
        For other services provided by ELIXIR's Czech Republic Node visit <a href="https://www.elixir-czech.cz/services" target="_blank">www.elixir-czech.cz/services</a>.
    </small>
</p>