@{
    ViewBag.Title = "SiteBinder 2";
}

<div class="page-header">
    <h1>SiteBinder<br /><small>Superimpose and analyze structural fragments</small></h1>
</div>

<div class="row-fluid">
    <div>
        <p style="text-align:justify">
            SiteBinder 2 is a tool for superimposing and analyzing structural fragments in molecules.
            It requires the <a href="https://www.microsoft.com/silverlight/" target="_blank">Microsoft Silverlight</a>
            plug-in to run.
        </p>
    </div>

    <a class="btn btn-block btn-large btn-success" href="@Url.Action("SiteBinderPlugin", "App")" style="font-weight: bold" target="_blank">Launch the Application</a>
</div>

<hr />

<p style="text-align: center">
    <img src="~/Images/elixirlogo.png" alt="ELIXIR logo" style="height: 70px" /><br />
    <small>
        SiteBinder 2 is a part of services provided by <a href="https://www.elixir-czech.cz/" target="_blank">ELIXIR</a> &ndash;
        European research infrastructure for biological information.
        For other services provided by ELIXIR's Czech Republic Node visit <a href="https://www.elixir-czech.cz/services" target="_blank">www.elixir-czech.cz/services</a>.
    </small>
</p>