<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net4-client" />
  <package id="IronPython" version="2.7.5" targetFramework="net4-client" />
  <package id="Ix_Experimental-Main" version="1.1.10823" targetFramework="net4-client" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net4-client" />
</packages>