@*<button class="btn btn-success pull-right" onclick="startDbCustomSearchIntro();"><i class="icon icon-white icon-question-sign"></i></button>*@

<div style="background: #F5F5F5; padding: 6px 19px; border-radius: 6px">
    <ul class="nav nav-pills" style="margin: 0">
        <li class="disabled" style="width: 90px"><a href="#" style="font-weight: bold; color: black !important; padding-left: 0 !important">Search by</a></li>
        <!-- ko foreach: searchModes -->
        <li>
            <a href="#" data-bind="click: setCurrent, attr: { title: tooltip }" data-toggle="tab" data-placement="bottom" data-do-tooltip="true">
                <span data-bind="text: title" style="font-weight: bold"></span>
            </a>
        </li>
        <!-- /ko -->
    </ul>
</div>

<!-- ko if: currentSearchMode() -->

<h3 style="margin-bottom: 20px !important">
    Search by <span data-bind="text: currentSearchMode().title"></span>
    <span class="btn-group">
        <button class="btn btn-small btn-success" data-bind="click: showExample1"><i class="icon-question-sign icon-white"></i> Example 1</button>
        <button class="btn btn-small btn-success" data-bind="click: showExample2">Example 2</button>
    </span>
    <small style="display: block"><span data-bind="html: currentSearchMode().tooltip"></span></small>
</h3>
<!-- ko if: pdbEntriesSource() === 'fromText'  -->
<div id="custom-pdb-entries-header">
    <h4 style="margin-bottom: 5px">
        <span data-bind="text: isLigandSearch() ? 'Molecule Identifiers' : 'PDB Entries'">PDB Entries/Molecules</span>
        <small data-bind="text: specifyPdbEntered"></small>
    </h4>
</div>
<div style="margin-top: 8px">
    <textarea class="span10" cols="120" rows="3" style="min-width: 720px; max-width: 923px; width: 923px; margin-bottom: 0" data-bind="value: pdbEntriesText, valueUpdate: 'input', enable: canEdit, attr: { placeholder: 'e.g. ' + currentSearchMode()['sampleStructuresShort'] }"></textarea>
    <div>
        <!-- ko if: isLigandSearch() -->
        <span style="font-size: 9pt;">
            A list of PDB entry/molecule identifiers, chain identifier is case sensitive,  @*in format <span style="font-family: 'Courier New'">PDB:1 A;2 B;...</span>*@
            separated by a new line or a comma
            (e.g. <abbr title="Click to enter example." style="cursor: pointer" data-bind="click: function() { pdbEntriesText(currentSearchMode()['sampleStructuresShort']); }"><span style="font-family: 'Courier New'" data-bind="text: currentSearchMode()['sampleStructuresShort']"></span></abbr>).
        </span>
        <!-- /ko -->
        <!-- ko if: !isLigandSearch() -->
        <span style="font-size: 9pt;">
            A list of PDB entry identifiers, separated by a new line or a comma.
            @*(e.g. <abbr title="Click to enter example." style="cursor: pointer" data-bind="click: function() { pdbEntriesText(currentSearchMode()['sampleStructuresShort']); }"><span style="font-family: 'Courier New'" data-bind="text: currentSearchMode()['sampleStructuresShort']"></span></abbr>).*@
        </span>
        <!-- /ko -->
        <button class="btn btn-link btn-small" data-bind="click: function () { $('#fetchPdbOrgHelp').toggle(); }" title="Click to help."><i class="icon-question-sign"></i></button><br />
    </div>

    <div id="fetchPdbOrgHelp" class="alert alert-info alert-block hide">
        <!-- ko if: !currentSearchMode()['ligandSearch']  -->
        You may also paste a list of pre-filtered PDB IDs (e.g., by organism, molecular weight, etc.) from PDB.org:
        <ol style="margin-bottom: 0">
            <li>Go to <a style="font-weight: bold" href="//pdb.org/pdb/search/advSearch.do" target="_blank">PDB.org Search</a> and enter your search criteria.</li>
            <li>Run the search and list the results using the option 'Reports: List selected IDs'.</li>
            <li>Copy-paste the result into the text area above.</li>
        </ol>
        <!-- /ko -->
        <!-- ko if: currentSearchMode()['ligandSearch']  -->
        You may extract molecule identifiers from <a href="//www.ebi.ac.uk/pdbsum/" style="font-weight: bold" target="_blank">PDBsum</a>:
        <ol style="margin-bottom: 0">
            <li>Select a protein of interest.</li>
            <li>Switch to the Ligands tab and pick ligands.</li>
            <li>Rewrite the residue identifier(s) to the specified syntax, e.g. <span style="font-family: 'Courier New'">3d12: 1160 A</span>.</li>
        </ol>
        <!-- /ko -->
    </div>
</div>
<!-- /ko -->
<!-- ko if: modelsSource() === 'fromText'  -->
<div id="custom-residue-entries-header">
    <h4 style="margin-bottom: 5px">
        Molecule Annotations
        <small data-bind="text: specifyModelEntered"></small>
    </h4>
</div>
<div style="margin-top: 8px">
    <textarea class="span10" cols="120" rows="3" style="min-width: 720px; max-width: 923px; width: 923px; margin-bottom: 0" data-bind="value: modelsText, valueUpdate: 'input', enable: canEdit, attr: { placeholder: 'e.g. ' + currentSearchMode()['sampleModelsShort'] }"></textarea>
    <div>
        <span style="font-size: 9pt">
            A list of molecules identified by their residue 3-letter codes, separated by a new line or a comma. 
            @*(e.g. <abbr title="Click to enter example." style="cursor: pointer" data-bind="click: function() { modelsText(currentSearchMode()['sampleModelsShort']); }"><span style="font-family: 'Courier New'" data-bind="text: currentSearchMode()['sampleModelsShort']"></span></abbr>).*@
        </span>
        <button class="btn btn-link btn-small" data-bind="click: function () { $('#fetchLigOrgHelp').toggle(); }" title="Click to help."><i class="icon-question-sign"></i></button>
    </div>

    <div id="fetchLigOrgHelp" class="alert alert-info alert-block hide">
        You may also paste a list of pre-filtered residue 3-letter codes (e.g., by SMILES, molecular weight, etc.) from PDB.org:
        <ol style="margin-bottom: 0">
            <li>Go to <a style="font-weight: bold" href="//www.rcsb.org/pdb/ligand/chemAdvSearch.do" target="_blank">PDB.org Ligand Search</a> and enter your search criteria.</li>
            <li>Run the search and list the results using the option 'Display/Download: Display ID list'.</li>
            <li>Copy-paste the result into the text area above.</li>
            <li>
                Alternatively, you can obtain molecule annotations from the
                <a href="//www.ebi.ac.uk/pdbe-srv/pdbechem/">PDBeChem</a> or
                <a href="//ligand-expo.rcsb.org/ld-search.html" target="_blank" style="font-weight: bold">Ligand Expo</a>.
            </li>
        </ol>
    </div>
</div>
<!-- /ko -->
<!-- ko if: modelsSource() === 'fromText' || pdbEntriesSource() === 'fromText' -->
<div style="margin-top: 20px; width: 85%; float: left">
    <button class="btn btn-large btn-block btn-primary" id="custom-submit-btn" data-bind="enable: canCompute, html: computeLabel, click: compute"><i class="icon-search"></i> Compute</button>
</div>
<div style="margin-top: 20px; width: 14%; float: right">
    <button class="btn btn-large btn-block btn-primary" title="Open search in new tab." data-do-tooltip="true" id="custom-submit-newtab-btn" data-bind="enable: canCompute, click: computeNewTab">
        <i class="icon icon-file icon-white"></i> In New Tab
    </button>
</div>
<div style="clear: both"></div>
<div style="text-align: center; color: #424242; font-size: 8pt">
    Request up to 10 items to get instantaneous results (Quick Search). Larger searches might take several minutes to complete (Slow Search).
</div>
<!-- /ko -->
<!-- /ko -->
@Helpers.RecenlySubmittedComputations("ValidatorDB", "ValidatorDbParams.customAnalysisResultAction")