@{
    ViewBag.Title = "Unauthorized";
}

<h2>You need to be logged in to view this page.</h2>

@using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-inline" }))
{
        
    @Html.AntiForgeryToken()
    <label class="checkbox"><input name="rememberMe" type="checkbox" value="true" /><input name="rememberMe" type="hidden" value="false" /> Remember me</label>    
    <button type="submit" class="btn btn-inverse" id="logInBtn" style="margin-left: 5px" name="provider" value="@OAuthWebSecurity.RegisteredClientData.First().AuthenticationClient.ProviderName" 
        data-placement="bottom" title="Log in with Google.">Log in with Google</button>
         
}
